.df {
  display: flex;
}

.jcsb {
  justify-content: space-between;
}

.aic {
  align-items: center;
}

.astrick {
  color: red;
}


.modal-body {
  overflow-y: auto;
  max-height: 80vh;
}


button {
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  height: 38px;
  display: flex;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  white-space: nowrap;

}

.title_sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;

  .page_title {
    margin: 0;
  }
}

.page_title {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 15px;
}

.sec_title {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
}

.bg_sw {
  background-color: #fff;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 0 10px 0 #ccc;
}

input,
select {
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  padding: 5px;
  height: 40px;

  &:focus-visible,
  &:focus {
    box-shadow: unset !important;
  }
}

.date_input {
  width: 125px;
}

.input_search {
  position: relative;
  width: 300px;
  padding: 0;

  input {
    width: 100%;
    height: 40px;
  }

  i {
    position: absolute;
    right: 10px;
    top: 10px;
  }

}

.label_input {
  box-shadow: 0 0 10px 0 #ccc;
  padding: 10px;
  border-radius: 12px;
  margin-bottom: 10px;

  label {
    font-weight: 600;
    margin-bottom: 10px;
    width: 100%;
  }
}

.page_footer {
  display: flex;
  justify-content: end;
  gap: 10px;
  margin-top: 10px;

  .bg_green {
    background: #31C950;
    color: white;
    font-family: inherit;
    padding: 0.35em 3.3em 0.35em 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #31C950;
    overflow: hidden;
    position: relative;
    height: 40px;

    .icon {
      background: white;
      margin-left: 1em;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 2em;
      width: 2em;
      border-radius: 0.7em;
      box-shadow: 0.1em 0.1em 0.6em 0.2em #31C950;
      right: 0.3em;
      transition: all 0.3s;

      svg {
        width: 1.1em;
        transition: transform 0.3s;
        color: #31C950;
      }
    }

    &:hover {
      .icon {
        width: calc(100% - 0.6em);

        svg {
          transform: translateX(0.1em);
        }
      }
    }

    &:active {
      .icon {
        transform: scale(0.95);
      }
    }
  }


  .close_btn {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 18px;
    color: rgb(193, 163, 98);
    border: 2px solid rgb(193, 163, 98);
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
    height: 40px;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      margin: auto;
      width: 50px;
      height: 40px;
      border-radius: inherit;
      scale: 0;
      z-index: -1;
      background-color: rgb(193, 163, 98);
      transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    }

    &:hover {
      color: #212121;
      box-shadow: 0 0px 20px rgba(193, 163, 98, 0.4);

      &::before {
        scale: 3;
      }
    }

    &:active {
      scale: 1;
    }
  }


}


::ng-deep {
  .global_search {
    position: relative;

    .input_search {
      position: absolute;
      top: 0;
      right: 210px;
    }
  }
}


.table_delete {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  border-radius: 15px;
  background-color: rgb(255, 95, 95);
  gap: 0;
  cursor: pointer;
  border: 3px solid rgb(255, 201, 201);
  transition-duration: 0.3s;

  .bin-bottom {
    width: 15px;
  }

  .bin-top {
    width: 17px;
    transform-origin: right;
    transition-duration: 0.3s;
  }

  &:hover {
    background-color: rgb(255, 0, 0);

    .bin-top {
      transform: rotate(45deg);
    }
  }

  &:active {
    transform: scale(0.9);
  }
}


.export_btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
  width: fit-content;
  height: 40px;
  border: none;
  padding: 0 15px;
  border-radius: 5px;
  background-color: rgb(49, 49, 83);
  gap: 10px;
  cursor: pointer;
  transition: all 0.3s;

  .folderContainer {
    width: 40px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;

    .fileBack {
      z-index: 1;
      width: 80%;
      height: auto;
    }

    .filePage {
      width: 50%;
      height: auto;
      position: absolute;
      z-index: 2;
      transition: all 0.3s ease-out;
    }

    .fileFront {
      width: 85%;
      height: auto;
      position: absolute;
      z-index: 3;
      opacity: 0.95;
      transform-origin: bottom;
      transition: all 0.3s ease-out;
    }
  }

  .text {
    color: white;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin: 0;
  }

  &:hover {
    background-color: rgb(58, 58, 94);

    .folderContainer {
      .filePage {
        transform: translateY(-5px);
      }

      .fileFront {
        transform: rotateX(30deg);
      }
    }
  }

  &:active {
    transform: scale(0.95);
  }
}


.add_data {
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  padding: 17px 29px 17px 69px;
  transition: background 0.3s;
  color: #fff;
  background: #404660;

  >div {
    top: 0;
    left: 0;
    bottom: 0;
    width: 53px;
    position: absolute;
    overflow: hidden;
    border-radius: 5px 0 0 5px;
    background: #2b3044;

    .folder {
      width: 23px;
      height: 27px;
      position: absolute;
      left: 15px;
      top: 13px;

      .top {
        left: 0;
        top: -8px;
        z-index: 2;
        position: absolute;
        transform: translateX(0);
        transition: transform 0.4s ease 0.3s;

        svg {
          width: 24px;
          height: 27px;
          display: block;
          fill: #f3e9cb;
          transform-origin: 0 50%;
          transition: transform 0.3s ease 0.45s;
          transform: perspective(120px) rotateY(0deg);
        }
      }

      &:before,
      &:after,
      .paper {
        content: "";
        position: absolute;
        left: 0;
        top: -8px;
        width: 100%;
        height: 100%;
        border-radius: 1px;
        background: #beb393;
      }

      &:before {
        box-shadow:
          0 1.5px 3px rgba(13, 15, 25, 0.2),
          0 2.5px 5px rgba(13, 15, 25, 0.2),
          0 3.5px 7px rgba(13, 15, 25, 0.2);
        transform: translateX(0);
        transition: transform 0.4s ease 0.3s;
      }

      &:after,
      .paper {
        left: 1px;
        top: -6px;
        width: 21px;
        height: 25px;
        background: #e1e6f9;
      }

      &:after {
        transform: translate(0, 0);
        transition: transform 0.4s ease 0s;
      }

      .paper {
        z-index: 1;
        background: #ffffff;

        &:before,
        &:after {
          content: "";
          width: 14px;
          height: 2px;
          border-radius: 1px;
          transform: scaleY(0.5);
          left: 3px;
          top: 3px;
          position: absolute;
          background: #bbc1e1;
          box-shadow:
            0 12px 0 0 #bbc1e1,
            0 24px 0 0 #bbc1e1;
        }

        &:after {
          top: 6px;
          width: 10px;
        }
      }
    }

    .pencil {
      height: 2px;
      width: 3px;
      border-radius: 1px 1px 0 0;
      top: 8px;
      left: 105%;
      position: absolute;
      z-index: 3;
      transform-origin: 50% 19px;
      background: #ffffff;
      transform: translateX(0) rotate(35deg);
      transition: transform 0.4s ease 0s;

      &:before,
      &:after {
        content: "";
        position: absolute;
        display: block;
        width: 5px;
        height: 20px;
        border-radius: 2px 2px 0 0;
        top: 2px;
        left: -1px;
        background: linear-gradient(#275efe 55%,
            #ffffff 55.1%,
            #ffffff 60%,
            #5c86ff 60.1%);
      }

      &:before {
        -webkit-clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
        clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
      }

      &:after {
        width: 3px;
        height: 6px;
        border-radius: 0 2px 1px 0;
        top: 3px;
        left: 3px;
        background: none;
        border-top: 1px solid #275efe;
        border-right: 1px solid #275efe;
      }
    }
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    border-radius: 1px;
    background: #fff;
    transform-origin: 9px 1px;
    transform: translateX(0) scale(0.5) rotate(-45deg);
    top: 19px;
    right: 16px;
    transition: transform 0.3s;
  }

  &:after {
    transform: translateX(0) scale(0.5) rotate(45deg);
  }

  &:hover {
    background: #3a4059;

    >div {
      .folder {
        .top {
          transform: translateX(-40px);

          svg {
            transform: perspective(120px) rotateY(-60deg);
          }
        }

        &:before {
          transform: translateX(-40px);
        }

        &:after {
          transform: translate(3px, -3px);
        }

        .paper {

          &:before,
          &:after {
            background: #bbc1e1;
          }
        }
      }

      .pencil {
        transform: translateX(-24px) rotate(35deg);
      }
    }

    &:before {
      transform: translateX(2px) scale(0.5) rotate(-45deg);
    }

    &:after {
      transform: translateX(2px) scale(0.5) rotate(45deg);
    }
  }
}