<app-header
  [navbarBrandRouterLink]="['/app']"
  [fixed]="true"
  [navbarBrandFull]="{
    src: 'assets/img/complogo.png',
    width: 100,
    height: 10,
    alt: 'Logo'
  }"
  [navbarBrandMinimized]="{
    src: 'assets/img/complogo.png',
    width: 40,
    height: 30,
    alt: 'Logo-icon'
  }"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="'lg'"
>
  <ul class="nav navbar-nav ml-auto">
    <!-- <li class="nav-item dropdown" dropdown placement="bottom right">
            <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" role="button" aria-haspopup="true"
                aria-expanded="false" dropdownToggle (click)="false"><i class="fa fa-bell-o"></i><span
                    class="badge badge-pill badge-danger"></span>
                <span ng-if="pendingDriverLength != 0" class="badge bg-lightred">{{total}} </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" role="menu" *dropdownMenu aria-labelledby="simple-dropdown">
                <div class="dropdown-header text-center"> You have <strong> {{total}}</strong> new notifications.</div>
                <ul slimscroll="{height: '100%'}" class="list-group header-scroll" id="table-scroll">
                    <div class="panel-body">
                        <a class="dropdown-item"><strong>Orders List : {{pendingOrderlength}} </strong>
                        </a>
                    </div>
                    <li class="dropdown-item" *ngFor="let ptasker of pendingOrders">
                        <a routerLink="/app/orders/vieworders/{{ptasker._id}}" class="media">
                            <div class="media-left">
                            </div>
                            <div class="media-body">
                                <span class="block">{{ptasker.order_id}}</span>
                                <div><small class="text-muted">{{ptasker.createdAt| timeago:live}}</small></div>
                            </div>
                        </a>
                    </li>
                    <a routerLink="/app/orders/neworders" style="margin-left:13px;">Show all orders >> </a>
                    <br>
                    <div class="panel-body">
                        <a class="dropdown-item"><strong>New Drivers List : {{pendingDriverlength}}</strong>
                        </a>
                    </div>
                    <li class="dropdown-item" *ngFor="let pdriver of pendingDrivers">
                        <a routerLink="/app/drivers/editdriver/{{pdriver._id}}" class="media">
                            <div class="media-left">
                            </div>
                            <div class="media-body">
                                <span class="block">{{pdriver.username}}</span>
                                <div>
                                    <small class="text-muted">{{pdriver.createdAt| timeago:live}}</small>
                                </div>
                            </div>
                        </a>
                    </li>
                    <a routerLink="/app/drivers/driverslist" style="margin-left:13px;">Show all orders >> </a>
                </ul>
            </div>

        </li> -->

    <!-- <li class="nav-item d-md-down-none"> 
            <a class="nav-link" href="javascript:void(0)"><i class="fa fa-list"></i></a>
        </li> -->
    <li class="nav-item dropdown mr-4" dropdown placement="bottom right">
  <!-- 🔔 Notification Icon -->
  <a
    class="nav-link"
    href="javascript:void(0)"
    dropdownToggle
    (click)="loadAlerts()"
  >
    <i class="fa fa-bell-o fa-2x"></i>

    <span *ngIf="alerts.length > 0" class="badge badge-pill badge-danger">
      {{ alerts.length }}
    </span>
  </a>

  <div class="dropdown-menu dropdown-menu-right notification-dropdown" *dropdownMenu>
    <div class="dropdown-header text-center">
      You have <strong>{{ alerts.length }}</strong> Alerts
    </div>

    <div class="alert-list-container">
      <div class="dropdown-item" *ngFor="let alert of alerts">
        <div class="media-body">
          <span>{{ alert.message }}</span>
          <small class="text-muted">
            Alert Date: {{ alert.alertDate | date:'mediumDate' }}
          </small>
        </div>
      </div>
    </div>

    <div class="dropdown-footer text-center">
      <a routerLink="/app/alerts">View all alerts</a>
    </div>
  </div>
</li>

<!-- ✔ Logout button always last -->
<li class="nav-item logout-item">
  <a
    class="nav-link"
    href="javascript:void(0)"
    (click)="logOutPop(logOutPopup)"
  >
    <i class="fa fa-sign-out fa-2x"></i>
  </a>
</li>


  </ul>
</app-header>
<div class="app-body">
  <app-sidebar
    [fixed]="true"
    [display]="'lg'"
    [minimized]="minimized"
    #sidebar
    (minimizedChange)="toggleMinimize($event)"
  >
    <!-- <div class="dashboard_sidebar_logo">
        <img src="assets/image/logo.png" alt="logo">
    </div> -->
    <app-sidebar-nav [navItems]="navItems"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->

  <main class="main">
    <!-- Breadcrumb -->
    <cui-breadcrumb>
      <!-- Breadcrumb Menu-->
    </cui-breadcrumb>
    <div class="container-fluid">
      <router-outlet>
        <app-spinner></app-spinner>
      </router-outlet>
    </div>
  </main>
  <!-- <app-aside [fixed]="true" [display]="false">
    </app-aside> -->
</div>
<span id="triggerPopupModal" (click)="confirmModal.show()"></span>
<div
  bsModal
  #confirmModal="bs-modal"
  class="active_inactive_modal modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content cases-model">
      <h5 class="modal-title" id="exampleModalLongTitle">Change Status</h5>
      <h6>Are you sure! Do you want to Change Status?</h6>
      <!-- <div class="product_details">
                <img src="" alt="">
                <div>
                    <h4>qwertyu</h4>
                    <p>asdfghjk</p>
                </div>
            </div> -->
      <div class="yes_no">
        <button
          type="button"
          class="btn conform-cancel"
          (click)="confirmModal.hide()"
        >
          No
        </button>
        <button
          type="button"
          class="btn conform-dels"
          (click)="confirmPopunModal(); confirmModal.hide()"
        >
          Yes
        </button>
      </div>
    </div>
  </div>
</div>

<span id="triggerPopupModal1" (click)="confirmModal1.show()"></span>
<div
  bsModal
  #confirmModal1="bs-modal"
  class="active_inactive_modal modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content cases-model">
      <h5 class="modal-title" id="exampleModalLongTitle">Change Flag Status</h5>
      <h6>Are you sure! Do you want to Change Flag Status?</h6>
      <!-- <div class="product_details">
                <img src="" alt="">
                <div>
                    <h4>qwertyu</h4>
                    <p>asdfghjk</p>
                </div>
            </div> -->
      <div class="yes_no">
        <button
          type="button"
          class="btn conform-cancel"
          (click)="confirmModal1.hide()"
        >
          No
        </button>
        <button
          type="button"
          class="btn conform-dels"
          (click)="confirmPopunModalflag(); confirmModal1.hide()"
        >
          Yes
        </button>
      </div>
    </div>
  </div>
</div>

<!-- <app-footer [fixed]="true">
    <span class="m-auto"><a href="javascript:void(0)">Copyright {{settings ? settings.site_title : ''}}</a> &copy;
   
        2024 Developed & Designed by Team Tweaks.</span>
</app-footer> -->

<ng-template #logOutPopup>
  <div class="logout_modal">
    <div class="modal-body login-body">
      <div class="h4_close">
        <h4>Logout</h4>
        <div
          (click)="destroyPopup()"
          style="cursor: pointer"
          title="close the popup"
          class="pop_cls_btn"
        >
          &#10006;
        </div>
      </div>
      <h6 class="modal-title">Are you sure? You are attempting to logout?</h6>
    </div>
    <div class="modal-footer border-0">
      <button type="button" (click)="destroyPopup()" class="btn cancel-btn">
        Cancel
      </button>
      <button type="button" (click)="logout()" class="btn out-bnt">
        Logout
      </button>
    </div>
  </div>
</ng-template>
