<div class="contract-new_contract_page">
  <h2 class="page_title">
    {{
      mode === "add"
        ? "Add Contract"
        : mode === "edit"
        ? "Edit Contract"
        : "View Contract"
    }}
  </h2>
  <form
    class="row"
    #contractForm="ngForm"
    (ngSubmit)="submitForm(contractForm)"
  >
    <div class="col-md-4 col-sm-12">
      <div class="label_input">
        <label>Client Name</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="clientName"
          name="clientName"
          [readonly]="readonly"
          required
        />
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="label_input">
        <label>Contract ID</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="contractId"
          name="contractId"
          [readonly]="readonly"
        />
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="label_input">
        <label>Start Date</label>
        <input
          type="date"
          class="form-control"
          [(ngModel)]="startDate"
          name="startDate"
          [readonly]="readonly"
        />
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="label_input">
        <label>End Date</label>
        <input
          type="date"
          class="form-control"
          [(ngModel)]="endDate"
          name="endDate"
          [readonly]="readonly"
        />
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="label_input">
        <label>Number Drivers Deployed</label>
        <input
          type="number"
          class="form-control"
          [(ngModel)]="driversDeployed"
          name="driversDeployed"
          [readonly]="readonly"
        />
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="label_input">
        <label>Number Buses Deployed</label>
        <input
          type="number"
          class="form-control"
          [(ngModel)]="busesDeployed"
          name="busesDeployed"
          [readonly]="readonly"
        />
      </div>
    </div>

    

    <div class="col-md-4 col-sm-12">
      <div class="label_input">
        <label>Contract Type</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="contractType"
          name="contractType"
          placeholder="Type of contract"
          [readonly]="readonly"
        />
      </div>
    </div>

    <div class="col-md-4 col-sm-12">
      <div class="label_input">
        <label>Contact Supervisor</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="contactOfficer"
          name="contactOfficer"
          [readonly]="readonly"
        />
      </div>
    </div>
    <!-- <div class="col-md-4 col-sm-12">
      <div class="label_input">
        <label>Invoicing Date</label>
        <input
          type="date"
          class="form-control"
          [(ngModel)]="invoicingDate"
          name="invoicingDate"
          [readonly]="readonly"
        />
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="label_input">
        <label>Last Payment Date</label>
        <input
          type="date"
          class="form-control"
          [(ngModel)]="lastPayment"
          name="lastPayment"
          [readonly]="readonly"
        />
      </div>
    </div> -->
    <div class="col-md-4 col-sm-12">
      <div class="label_input" *ngIf="mode !== 'add'">
        <label>Status</label>
        <select
          class="form-control"
          [(ngModel)]="status"
          name="status"
          [disabled]="readonly"
        >
          <option [value]="1">Active</option>
          <option [value]="2">Inactive</option>
          <option [value]="0">Deleted</option>
        </select>
      </div>
    </div>
    <div class="page_footer" *ngIf="!readonly">
      <button type="button" class="close_btn" (click)="cancel()">Cancel</button>

      <button type="submit" class="bg_green">
        {{ id ? "Update" : "Save" }}
        <div class="icon">
          <svg
            height="24"
            width="24"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path
              d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
              fill="currentColor"
            ></path>
          </svg>
        </div>
      </button>
    </div>
  </form>
</div>
