cui-breadcrumb {
    position: absolute;
    width: 80%;
    top: 0;
    z-index: 2;

    .breadcrumb {
        padding: 15px;
        background-color: #ffffff;

        .breadcrumb-item {
            a {
                color: #000;
                font-weight: 600;
                text-decoration: none;
            }

            &.active {
                span {
                    color: #212529bf;
                    font-weight: 600;
                }

            }
        }
    }
}