<div class="admin_addedit_pages">
    <h1 class="page_title">{{pageTitle | titlecase}}</h1>
    <form #adminForm="ngForm" (ngSubmit)="onFormSubmit(adminForm)" autocomplete="off">
        <div class="row">
            <div class="col-md-12">
                <h4><strong>Personal</strong> Settings</h4>
                <p>Your personal account settings</p>
            </div>
            <div class="col-md-4">
                <div class="label_input">
                    <label for="username">Username <span class="mandatory">*</span> </label>
                    <input type="text" id="username" ngModel name="username" #username="ngModel" required
                        class="form-control" placeholder="Enter Username">
                    <div *ngIf="adminForm.submitted && !username.valid">
                        <div class="invalid-feedback" *ngIf="username.errors.required">Username is
                            required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="label_input">
                    <label for="name">Name <span class="mandatory">*</span> </label>
                    <input type="text" id="name" ngModel name="name" #name="ngModel" required class="form-control"
                        placeholder="Enter Name">
                    <div *ngIf="adminForm.submitted && !name.valid">
                        <div class="invalid-feedback" *ngIf="name.errors.required">Name is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="label_input">
                    <label for="email">E-Mail <span class="mandatory">*</span></label>
                    <input type="text" id="email" ngModel name="email" #email="ngModel" class="form-control"
                        placeholder="Enter E-Mail" pattern="^[a-z0-9.]+@[a-z0-9.-]+\.[a-z]{2,3}$" required
                        [ngClass]="{ 'is-valid': !email.errors && email.valid}">
                    <div *ngIf="adminForm.submitted && !email.valid">
                        <div class="invalid-feedback" *ngIf="email.errors.required">Email is required.
                        </div>
                        <div class="invalid-feedback" *ngIf="email.errors.email">Please enter valid
                            Email
                        </div>
                        <div class="invalid-feedback" *ngIf="!email.errors.email && email.errors.pattern">
                            Please enter valid Email</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <h4><strong>Security</strong> Settings</h4>
                <p>Secure your account</p>
            </div>
            <div class="col-md-6">
                <div class="label_input">
                    <label for="password">Password <span *ngIf="!adminDetails" class="mandatory">*</span></label>
                    <input type="password" id="password" ngModel name="password" #password="ngModel"
                        required="{{adminDetails ? false : true}}" class="form-control" placeholder="Enter Password">
                    <div *ngIf="adminForm.submitted && !password.valid">
                        <div class="invalid-feedback" *ngIf="password.errors && password.errors.required">
                            Password is required.
                        </div>
                        <div class="invalid-feedback" *ngIf="password.errors && password.errors.pattern">patten
                        </div>
                        <!-- pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,} -->
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="label_input">
                    <label for="confirm_password">Confirm Password <span *ngIf="!adminDetails"
                            class="mandatory">*</span></label>
                    <input type="password" id="confirm_password" ngModel name="confirm_password"
                        #confirm_password="ngModel" required="{{adminDetails ? false : true}}" class="form-control"
                        placeholder="Enter Confirm Password">
                    <div *ngIf="adminForm.submitted && !confirm_password.valid">
                        <div class="invalid-feedback"
                            *ngIf="confirm_password.errors && confirm_password.errors.required">
                            Confirm Password is required.
                        </div>
                    </div>
                    <div *ngIf="password.value != confirm_password.value">
                        <div class="invalid-feedback">Password And Confirm Password is Mismatch.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page_footer">
            <button type="button" *ngIf="!viewpage" routerLink="/app/administrator/list" class="close_btn">
                Cancel
            </button>

            <button type="submit" class=" bg_green" *ngIf="!viewpage"> Submit
                <div class="icon">
                    <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                            fill="currentColor"></path>
                    </svg>
                </div>
            </button>
        </div>
    </form>
</div>