/* Tabs */
.custom-tabs .nav-link {
    color: #003366;
    font-weight: 500;
    border-radius: 5px 5px 0 0;
}

.custom-tabs .nav-link.active {
    background: #003366;
    color: #fff;
}

.input_select {
    display: flex;
    align-items: center;
    gap: 10px;

    input:nth-of-type(1) {
        width: 155px;
    }

}
